*.pyc
*.*~
*.py~
*~
*.o
*.cmd
*.class
*.apk
*.ap_
*.swp
*.~ml
*.dia~
*.dia.autosave
*.~ml
.project
.cproject
.classpath

build/
out/
bin/
obj/
gen/

proguard/
.settings/
.externalToolBuilders/

proguard-project.txt
local.properties
lint.xml

*.*~
*~
*.o
*.swp
*.tmp
._*
import-summary.txt

# Intellij project files
*.iml
*.ipr
*.iws
.idea/
.gradle/

